# ansible.cfg
[defaults]
vault_password_file = ~/.ansible-vault-password
inventory = inventory/windows.ini
interpreter_python = /usr/bin/python3
remote_tmp = /tmp/.ansible/tmp
gathering = smart
fact_caching = memory

[privilege_escalation]
become = false